<h2>Sign up</h2>

<section class="register-photo">
    <div class="form-container" id="form-container-registration">
        <div class="image-holder">
          <div class="container">
            <h2 class="text-center"><strong>Créer un compte</strong></h2>
            <%= form_with url:  user_registration_path, model: @user, method: :post do |form| %>
              <%= form.text_field :username, :placeholder => 'Votre pseudo', :class => 'form-control mb-3' %>
              <%= form.text_field :email, :placeholder => 'Email', :class => 'form-control mb-3' %>
              <%= form.password_field :password, :placeholder => 'Mot de passe', :class => 'form-control mb-3'%>
              <%= form.password_field :password, :placeholder => 'Confirmation Mot de passe', :class => 'form-control mb-3' %>
              <%= form.submit "S'inscrire", :class => "btn btn-primary mb-3", :id => "btn-signup" %>
            <% end %>
          </div>
        </div>
    </div>
</section>

