<h2>S'inscrire</h2>

<section class="register-photo">
    <div class="form-container" id="form-container-registration">
        <div class="image-holder"></div>
          <div class="container p-5">
            <h2 style="color: #dd750a"><strong>Créer un compte</strong></h2>
             <%= form_with model: @user, url: user_registration_path, local: true do |form| %>
              <%=  render 'devise/shared/error_messages', model: form.object %>
              <%= form.text_field :username, :placeholder => 'Votre pseudo', :class => 'form-control mb-3' %>
              <%= form.text_field :email, :placeholder => 'Email', :class => 'form-control mb-3' %>
              <%= form.password_field :password, :placeholder => 'Mot de passe', :class => 'form-control mb-3'%>
              <%= form.password_field :password, :placeholder => 'Confirmation Mot de passe', :class => 'form-control mb-3' %>
              <%= button_to "S'inscrire", root_path, :class => "btn btn-primary", :id => "btn-formulary", :type => "button"%>
            <% end %>
          </div>
    </div>
</section>


