<h2>Statistiques</h2>

<dl>
  <dt>Likes</dt>
  <dd><%= @user.likes_counter(@user) %></dd>
  <dt>Status</dt>
  <dd><%= @user.statuses_count %></dd>
  <dt>Commentaires</dt>
  <dd><%= @user.comments_count %></dd>
</dl>

<h2>Challenges que vous administrez</h2>
<% if @user.challenges.count == 0 %>
  <p>Vous n’administrez challenge. <%= link_to "Créez-en un !", new_challenge_path %></p>
<% else %>
  <% @user.challenges.each do |challenge| %>
    <p>
    <%= link_to challenge_path(challenge.slug) do %>
      <%= challenge.title %> - <%= challenge.subtitle %>
    <% end %>
    </p>
  <% end %>
<% end %>

<h2>Challenges auxquels vous participez</h2>
<% if @user.enrollments.count == 0 %>
  <p>Vous participez à aucun challenge. Trouvez-en un sur la <%= link_to "liste des challenges", categories_path %></p>
<% else %>
  <% @user.enrollments.each do |enrollment| %>
    <p>
    <%= link_to challenge_path(enrollment.challenge.slug) do %>
      <%= enrollment.challenge.title %> - <%= enrollment.challenge.subtitle %>
    <% end %>
    (<%= enrollment.streaks %> jours)
    </p>
  <% end %>
<% end %>
