<%= render 'layouts/callout' %>
<%=  render 'devise/shared/error_messages',resource: resource %>

<div class="register-photo">
  <div class="form-container" id="form-container-registration">
    <div class="image-holder"></div>
      <div class="m-5 mx-auto">
        <h2 class="mt-2 mb-5 text-center" style="color: #dd750a"><strong>Changer mot de passe</strong></h2>
        <%= form_with model: resource, scope: resource_name, url: password_path(resource_name), method: :put, local: true do |form| %>
        <%= form.hidden_field :reset_password_token %>
        <%= form.label :password, "Nouveau mot de passe" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= form.password_field :password, autofocus: true, autocomplete: "new-password", :class => "form-control mb-3" %>
        <%= form.label :password_confirmation, "Confirmer nouveau mot de passe" %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control mb-3" %>
        <%= form.submit "Valider", :class => 'btn btn-primary actions', :id => 'btn-formulary' %>
        <% end %>
        <div class="m-4 mx-auto">
          <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</div>
