<%= render 'layouts/callout' %>

<div class="register-photo col-sm-12">
  <div class="form-container" id="form-container-registration">
    <div class="image-holder"></div>
      <div class="m-5 mx-auto">
        <h2 class="mt-2 mb-5 text-center" style="color: #dd750a"><strong>Se connecter</strong></h2>
        <%= form_with model: @user, url: user_session_path, local: true do |form| %>
          <%=  render 'devise/shared/error_messages', model: form.object %>
          <%= form.text_field :login, :placeholder => 'Nom de compte ou Email', :class => 'form-control mb-3' %>
          <%= form.password_field :password, :placeholder => 'Mot de passe', :class => 'form-control mb-3'%>
          <%= form.submit "Connexion", :class => "btn btn-primary", :id => 'btn-formulary' %>
        <% end %>
        <div class="m-4 mx-auto">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
