<section class="register-photo">
  <div class="form-container" id="form-container-registration">
    <div class="image-holder"></div>
      <div class="container p-5">
        <h2 style="color: #dd750a"><strong>Se connecter</strong></h2>
        <%= form_with model: @user, url: user_session_path, local: true do |form| %>
          <%=  render 'devise/shared/error_messages', model: form.object %>
          <%= form.text_field :login, :placeholder => 'Nom de compte ou Email', :class => 'form-control mb-3' %>
          <%= form.password_field :password, :placeholder => 'Mot de passe', :class => 'form-control mb-3'%>
          <%= form.submit "Connexion", :class => "btn btn-primary", :id => 'btn-formulary' %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
