<% @statuses.order('created_at').reverse.each do |status| %>
  <%= image_tag @user.avatar_url(status.user, resize: "24x24!"), :class => "avatar" %>
<div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded">
  <h2><%= status.user.username %></h2>
  <p><%= simple_format(status.content) %></p>

  <div>

    <% if user_signed_in? && liked?(status, current_user) %>
      <%= link_to "#{status.likes.count} Likes", challenge_status_like_path(@challenge, status, Like.find_by(user: current_user, status: status)), method: "delete", :class => "btn btn-sm btn-danger" %>
    <% elsif user_signed_in? %>
      <%= link_to "#{status.likes.count} Likes", challenge_status_likes_path(@challenge, status), method: "post", :class => "btn btn-sm btn-outline-danger" %>
    <% else %>
      <div class="btn btn-sm btn-danger"><%= "#{status.likes.count} Likes" %></div>
    <% end %>

    <% if current_user == status.user %>
      <%= link_to "Modifier", edit_challenge_status_path(@challenge.slug, status), :class => "btn btn-sm btn-outline-primary" %>
      <%= link_to "Supprimer", challenge_status_path(@challenge.slug, status), data: { confirm: "Are you sure?" }, :class => "btn btn-sm btn-outline-danger", method: :delete %>
    <% end %>

  </div>

  <div>
    <details>
      <summary><%= status.comments.count %> commentaires</summary>
  <% if user_signed_in? %>
    <%= form_with(model: [@challenge, status, @comment], local: true) do |form| %>
      <%= form.text_area :content %>
      <%= form.submit %>
    <% end %>
  <% end %>
    <% status.comments.order('created_at').reverse.each do |comment| %>
      <%= image_tag @user.avatar_url(comment.user, resize: "24x24!"), :class => "avatar" %>
      <p><b><%= comment.user.username %></b></p>
      <p><%= simple_format(comment.content) %></p>
    <% end %>
  </div>
    </details>
</div>
<% end %>

