<% if user_signed_in? %>
  <%= link_to "Créer un nouveau challenge", new_challenge_path, :class => 'p-1'%>
<% else %>
  <p><%= link_to "Rejoignez-nous", new_user_registration_path %> pour proposer vos challenges&nbsp;!</p>
<% end %>

<div class="m-3 shadow-lg p-3 mb-4 bg-body rounded">
  <div class="container">
    <div class="row">
      <h1 class= "mb-5 mt-2 col-12 text-center">
        <h2 class="text-center mb-5">Les Challenges</h2>
          <div class="container"> 
                <div class="row row-cols-3 g-2 flex-wrap">
                  <% @challenges.order('created_at').reverse.each do |challenge| %>
                    <div class="card border border-1">
                      <div class="card-body">
                        <div class="col-12">
                          <p>
                            <%= link_to challenge_path(challenge.slug) do %>
                            <%= challenge.title %> - <%= challenge.subtitle %>
                            <% end %>
                            lancé par <%= link_to challenge.user.username, profile_path(challenge.user.username) %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

