<div class="d-flex card mb-3 shadow-lg p-3 my-5 bg-body rounded">
<h1 class="mb-5 mt-2">Créer un challenge</h1>
<%= form_with url: challenges_path, local: true do |form| %>
  <%= form.label "Titre du challenge", :class => "mandatory" %>
  <%= form.text_field :title, :class => "form-control mb-3 card-header" %>
  <%= form.label "Sous-titre du challenge", :class => "mandatory"%>
  <%= form.text_field :subtitle, :placeholder => "Faites une courte description", :class => "form-control mb-3 card-header" %>
  <%= form.label "Catégorie", :class => "mandatory" %>
  <%= form.collection_select :category, @categories, :slug, :name, { include_blank: false },  { class: "form-control form-select mb-3" } %>
  <%= form.label "Description du challenge" %>
  <%= form.text_area :description, :class => "form-control mb-3 card-header" %>

  <div class="mb-3">
    <%= form.label "Intervalle", :class => "mandatory" %>
    <% Challenge::TIMELY_FREE.each do |interval| %>
      <div class="form-check">
        <%= form.radio_button :interval, interval, :class => "form-check-input", "data-bs-toggle" =>"collapse", "data-bs-target" => ".date-selector.show" %>
        <%= form.label t(interval).capitalize, :class => "form-check-label" %>
      </div>
    <% end %>
    <% Challenge::TIME_REQUIRED.each do |interval| %>
      <div class="form-check">
      <%= form.radio_button :interval, interval, :class => "form-check-input", "data-bs-toggle" =>"collapse", "data-bs-target" => ".date-selector:not(.show)" %>
      <%= form.label t(interval).capitalize, :class => "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="collapse date-selector">
    <div class="mb-3">
      <%= form.label "Prochaine échéance" %>
      <%= form.date_field :next_date, min: Date.tomorrow, :class => "form-control" %>
    </div>
  </div>

  <%= form.submit "Enregistrer", :class => "btn btn-primary mb-2", :id => "btn-formulary" %>
<% end %>
