<div class="pageheader mb-5 py-5">
  <div class="container">
    <h1 class= "h3">
      <%= @challenge.title %><br />
    </h1>
    <h2 class="h5">
      <%= @challenge.subtitle %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="card mb-3 shadow-lg p-4 mb-5 bg-body rounded">
    <%= simple_format(@challenge.description) %>
  </div>
  <div class="col-9">
    <%= render "streaks_counter.html" %>
    <%= render "status_form.html" %>
    <p><%= @statuses.count %> status</p>
    <%= render "feed.html" %>
  </div>
  <div class="col-3">
    <div class="text-center">
      <span class="h5">Challenge lancé par</span>
      <div class="my-3">
        <%= image_tag @user.avatar_url(@user, size: "80x80!"), :class => "avatar" %><br />
        <%= link_to @user.username, @user_path %>
      </div>
        <%= render "enrollment_button.html" %>
      </div>
  </div>
</div>
