<div class="pageheader bg-white px-5 pt-5 mb-5">
  <div class="container mb-5">
    <h1 class= "h3">
      <%= @challenge.title %><br />
    </h1>
    <h2 class="h5">
      <%= @challenge.subtitle %>
    </h2>
    <span class="text-muted">Challenge <%= t(@challenge.interval) %></span>
  </div>
  <div class="container">
    <div class="d-flex justify-content-around text-secondary pb-2">
      <div><%= @challenge.enrollments.count %> participants</div>
      <div><%= @statuses.count %> status</div>
    </div>
  </div>
</div>

<div class="row flex-wrap">
  <% unless @challenge.description.empty? %>
    <div class="card mb-3 shadow-lg p-4 mb-5 bg-body rounded">
      <%= simple_format(@challenge.description) %>
    </div>
  <% end %>
  <div class="col-9">
    <%= render "status_form.html" %>
    <%= render "feed.html" %>
  </div>
  <div class="col-3">
    <%= render "streaks_counter.html" %>
    <%= render "enrollment_button.html" %>
      <span class="h5">Challenge lancé par</span>
      <div class="my-3">
        <%= image_tag @user.avatar_url(@user, size: "80x80!"), :class => "avatar me-3" %>
        <%= link_to @user.username, @user_path %><br />
      </div>
      <% if has_rights? %>
        <%= link_to "Modifier ce challenge", edit_challenge_path(@challenge.slug), :class => "btn btn-primary" %>
      <% end %>
    </div>
</div>
