<h1>
  <%= @challenge.title %><br />
  <small><%= @challenge.subtitle %></small>
</h1>
<p>Challenge lancé par <%= link_to @user.username, @user_path %>
<p><%= simple_format(@challenge.description) %></p>

<% if user_signed_in? %>
  <%= form_with(model: [@challenge, @status], local: true) do |form| %>
    <%= form.text_area :content %>
    <%= form.submit %>
  <% end %>
<% end %>

<p><%= @statuses.count %> status</p>

<% @statuses.order('created_at').reverse.each do |status| %>
  <h2><%= status.user.username %></h2>
  <p><%= simple_format(status.content) %></p>

  <p>
  <% if user_signed_in? && liked?(status, current_user) %>
    <%= link_to "#{status.likes.count} Likes", challenge_status_like_path(@challenge, status, Like.find_by(user: current_user, status: status)), method: "delete" %>
  <% elsif user_signed_in? %>
    <%= link_to "#{status.likes.count} Likes", challenge_status_likes_path(@challenge, status), method: "post" %>
  <% else %>
    <%= "#{status.likes.count} Likes" %>
  <% end %>
  </p>

  <div>
  <% if user_signed_in? %>
    <%= form_with(model: [@challenge, status, @comment], local: true) do |form| %>
      <%= form.text_area :content %>
      <%= form.submit %>
    <% end %>
  <% end %>
    <% status.comments.order('created_at').reverse.each do |comment| %>
      <p><%= simple_format(comment.content) %></p>
    <% end %>
  </div>
<% end %>

