<h1>
  <%= @challenge.title %><br />
  <small><%= @challenge.subtitle %></small>
</h1>
<%= image_tag @user.avatar_url(@user, resize: "24x24!") %>
<p>Challenge lancé par <%= link_to @user.username, @user_path %></p>
<p><%= simple_format(@challenge.description) %></p>

<%= render "enrollment_button.html" %>
<%= render "streaks_counter.html" %>

<%= render "status_form.html" %>

<p><%= @statuses.count %> status</p>

<%= render "feed.html" %>
