<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "committi", root_path, :class => "navbar-brand"%>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropstart">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username %>
          </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><%= link_to "Tous les challenges", categories_path, :class => "dropdown-item" %></li>
          <li><%= link_to "Nouveau challenge", new_challenge_path, :class => "dropdown-item" %></li>
          <li><%= link_to "Préférences", profile_user_path, :class => "dropdown-item" %></li>
           <li><%= link_to "Déconnexion", destroy_user_session_path, :class => "dropdown-item bg-danger", :method => 'delete' %></li>
        </ul>
      </ul>
      </div>
    <% else %>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, :class => "nav-link", :type => "button"%>
        </li>
        <li class="nav-item">
          <%= link_to "Inscription", new_user_registration_path, :class => "nav-link", :type => "button"%>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
