<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= image_tag 'committi-orange.svg', :class => 'navbar-brand d-lg-none'%>
  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
    <div class="navbar-nav">
			<%= link_to 'A propos', :url => '#', :class => 'nav-link-left' %>
			<%= link_to 'Contact', :url => '#', :class => 'nav-link_left' %>
	</div>
	<%= image_tag 'committi-orange.svg', :class => 'navbar-brand d-none d-lg-block'%>
	<%= button_to "Login", new_user_session_path, :class => "btn", :id => "btn-navbar-login", :type => "button"%>
  </div>
</nav>